In [4]:
import pandas as pd

df = pd.DataFrame({'Year':[1900, 2000],
                   'Jan':[1, 4],
                   'Feb':[7, 3],
                   'Mar':[2, 9]})
df.index = df.Year
df # wide format

      Year  Jan  Feb  Mar
Year
1900  1900    1    7    2
2000  2000    4    3    9

In [9]:
df1 = df.stack() # long format
df1

Year
1900  Year    1900
      Jan        1
      Feb        7
      Mar        2
2000  Year    2000
      Jan        4
      Feb        3
      Mar        9
dtype: int64

In [ ]:
# задать именя полей!

In [7]:
df1.unstack()

      Year  Jan  Feb  Mar
Year
1900  1900    1    7    2
2000  2000    4    3    9

ValueError: 'Year' is both an index level and a column label, which is ambiguous.