In [2]:
# импортируем numpy и pandas
import numpy as np
import pandas as pd

# импортируем datetime
import datetime
from datetime import datetime, date

kino = pd.read_csv("Data/new_year_film.csv", index_col='name')
kino.head()

                             country  time ranking   type  year       director
name
Невеста                       Россия    74    7,66  фильм  2006  Билли Уайлдер
Кто приходит в зимний вечер   Россия    90   6,038  фильм  2006  Билли Уайлдер
Моя мама Снегурочка           Россия    90   6,828  фильм  2007  Билли Уайлдер
Набережная Орфевр            Франция   106   7,597  фильм  1947  Билли Уайлдер
Лузер                         Россия   104   6,065  фильм  2007  Билли Уайлдер

### Переименование столбцов

Полезно, когда хотим убрать пробелы из названий столбцов.

Программный код возращает копию датафрейма с переименованным столбцом.

In [7]:
kino_rename = kino.rename(columns={'time': 'time_film'})
kino_rename[:2]

,country,time_film,ranking,type,year,director
name,,,,,,
Невеста,Россия,74,"7,66",фильм,2006,Билли Уайлдер
Кто приходит в зимний вечер,Россия,90,"6,038",фильм,2006,Билли Уайлдер

In [8]:
kino.rename(columns={'time': 'time_film'},                   
           inplace=True)  # переименовывает столбец на месте
kino.columns

Index(['country', 'time_film', 'ranking', 'type', 'year', 'director'], dtype='object')

### Добавление новых столбцов с помощью оператора [] и метода .insert()

In [5]:
kino_copy = kino.copy()
kino_copy.ranking = kino_copy.ranking.str.replace(',','.')
kino_copy.ranking = kino_copy.ranking.astype(float)
kino_copy.ranking

name
Невеста                                             7.660
Кто приходит в зимний вечер                         6.038
Моя мама Снегурочка                                 6.828
Набережная Орфевр                                   7.597
Лузер                                               6.065
                                                    ...
Карнавальная ночь                                   7.929
Квартира                                            8.021
Когда зажигаются елки                               7.940
Кошмар перед Рождеством                             8.049
Красавица и чудовище: Чудесное Рождество (видео)    6.814
Name: ranking, Length: 150, dtype: float64

In [6]:
# добавляем столбец
kino_copy['rounded_ranking'] = kino_copy.ranking.round()
kino_copy[:2]

,country,time,ranking,type,year,director,rounded_ranking
name,,,,,,,
Невеста,Россия,74,7.660,фильм,2006,Билли Уайлдер,8.0
Кто приходит в зимний вечер,Россия,90,6.038,фильм,2006,Билли Уайлдер,6.0

In [8]:
kino_copy = kino.copy()
kino_copy.ranking = kino_copy.ranking.str.replace(',','.')
kino_copy.ranking = kino_copy.ranking.astype(float)
# вставляем столбец rounded_ranking в качестве второго столбца датафрейма
kino_copy.insert(1, 'rounded_ranking', kino_copy.ranking.round())
kino_copy[:2]

,country,rounded_ranking,time,ranking,type,year,director
name,,,,,,,
Невеста,Россия,8.0,74,7.660,фильм,2006,Билли Уайлдер
Кто приходит в зимний вечер,Россия,6.0,90,6.038,фильм,2006,Билли Уайлдер

### Добавление столбцов за счет расширения датафрейма

In [8]:
kino_copy = kino[:3].copy()

In [11]:
kino_copy.loc[:,'imdb'] = 0 # добавляем столбец с нулевыми значениями
kino_copy

,country,time_film,ranking,type,year,director,imdb
name,,,,,,,
Невеста,Россия,74,"7,66",фильм,2006,Билли Уайлдер,0
Кто приходит в зимний вечер,Россия,90,"6,038",фильм,2006,Билли Уайлдер,0
Моя мама Снегурочка,Россия,90,"6,828",фильм,2007,Билли Уайлдер,0
Набережная Орфевр,Франция,106,"7,597",фильм,1947,Билли Уайлдер,0
Лузер,Россия,104,"6,065",фильм,2007,Билли Уайлдер,0
...,...,...,...,...,...,...,...
Карнавальная ночь,СССР,78,"7,929",фильм,1956,NaN,0
Квартира,США,125,"8,021",фильм,1960,NaN,0
Когда зажигаются елки,СССР,20,"7,94",мультфильм,1950,NaN,0
Кошмар перед Рождеством,США,76,"8,049",мультфильм,1993,NaN,0
Красавица и чудовище: Чудесное Рождество (видео),США,72,"6,814",мультфильм,1997,NaN,0

In [12]:
kino_copy = kino[:3].copy()

In [14]:
# добавляем новый столбец со случайно сгенерированными значениями
kino_copy.loc[:,'imdb'] = pd.Series(np.random.randint(1, 10), index=kino_copy.index)
kino_copy

,country,time_film,ranking,type,year,director,imdb
name,,,,,,,
Невеста,Россия,74,"7,66",фильм,2006,Билли Уайлдер,6
Кто приходит в зимний вечер,Россия,90,"6,038",фильм,2006,Билли Уайлдер,6
Моя мама Снегурочка,Россия,90,"6,828",фильм,2007,Билли Уайлдер,6

### Удаление столбцов

Пример использования del для удаления столбца.

In [9]:
kino_copy = kino.copy()
del kino_copy['director']
kino_copy[:2]

                            country  time ranking   type  year
name
Невеста                      Россия    74    7,66  фильм  2006
Кто приходит в зимний вечер  Россия    90   6,038  фильм  2006

In [10]:
# пример использования drop для удаления столбца из датафрейма
kino_copy = kino.copy()
# эта строка вернет новый датафрейм с удаленным столбцом 'director’
# копия датафрейма не изменится
afterdrop = kino_copy.drop(['director'], axis=1) 
afterdrop[:5]

                             country  time ranking   type  year
name
Невеста                       Россия    74    7,66  фильм  2006
Кто приходит в зимний вечер   Россия    90   6,038  фильм  2006
Моя мама Снегурочка           Россия    90   6,828  фильм  2007
Набережная Орфевр            Франция   106   7,597  фильм  1947
Лузер                         Россия   104   6,065  фильм  2007

### Присоединение строк из других объектов DataFrame с помощью метода .append()

In [11]:
df1 = kino.iloc[0:3].copy() # копируем первые три строки датафрейма kino
df1

                            country  time ranking   type  year       director
name
Невеста                      Россия    74    7,66  фильм  2006  Билли Уайлдер
Кто приходит в зимний вечер  Россия    90   6,038  фильм  2006  Билли Уайлдер
Моя мама Снегурочка          Россия    90   6,828  фильм  2007  Билли Уайлдер

In [12]:
df2 = kino.iloc[[10, 11, 2]] # копируем строки в позициях 10, 11 и 2
df2

                       country  time ranking   type  year       director
name
Магазинчик за углом        США    99   7,921  фильм  1940  Билли Уайлдер
Мужчина в моей голове   Россия   113   7,143  фильм  2009  Билли Уайлдер
Моя мама Снегурочка     Россия    90   6,828  фильм  2007  Билли Уайлдер

In [13]:
appended = df1.append(df2) # присоединяем к датафрейму df1 датафрейм df2
# в результате к строкам первого датафрейма будут присоединены строки второго датафрейма
appended

                            country  time ranking   type  year       director
name
Невеста                      Россия    74    7,66  фильм  2006  Билли Уайлдер
Кто приходит в зимний вечер  Россия    90   6,038  фильм  2006  Билли Уайлдер
Моя мама Снегурочка          Россия    90   6,828  фильм  2007  Билли Уайлдер
Магазинчик за углом             США    99   7,921  фильм  1940  Билли Уайлдер
Мужчина в моей голове        Россия   113   7,143  фильм  2009  Билли Уайлдер
Моя мама Снегурочка          Россия    90   6,828  фильм  2007  Билли Уайлдер

### Конкатенация строк

In [15]:
# копируем первые три строки датафрейма kino
df1 = kino.iloc[0:3].copy()
# копируем строки в позициях 10, 11 и 2
df2 = kino.iloc[[10, 11, 2]]
# передаем их в виде списка
pd.concat([df1, df2])

                            country  time ranking   type  year       director
name
Невеста                      Россия    74    7,66  фильм  2006  Билли Уайлдер
Кто приходит в зимний вечер  Россия    90   6,038  фильм  2006  Билли Уайлдер
Моя мама Снегурочка          Россия    90   6,828  фильм  2007  Билли Уайлдер
Магазинчик за углом             США    99   7,921  фильм  1940  Билли Уайлдер
Мужчина в моей голове        Россия   113   7,143  фильм  2009  Билли Уайлдер
Моя мама Снегурочка          Россия    90   6,828  фильм  2007  Билли Уайлдер

### Удаление строк с помощью метода .drop()

In [19]:
kino_copy = kino[:5]
kino_copy

                             country  time ranking   type  year       director
name
Невеста                       Россия    74    7,66  фильм  2006  Билли Уайлдер
Кто приходит в зимний вечер   Россия    90   6,038  фильм  2006  Билли Уайлдер
Моя мама Снегурочка           Россия    90   6,828  фильм  2007  Билли Уайлдер
Набережная Орфевр            Франция   106   7,597  фильм  1947  Билли Уайлдер
Лузер                         Россия   104   6,065  фильм  2007  Билли Уайлдер

In [23]:
afterdrop = kino_copy.drop(['Моя мама Снегурочка', 'Набережная Орфевр'])
afterdrop[:5]

                            country  time ranking   type  year       director
name
Невеста                      Россия    74    7,66  фильм  2006  Билли Уайлдер
Кто приходит в зимний вечер  Россия    90   6,038  фильм  2006  Билли Уайлдер
Лузер                        Россия   104   6,065  фильм  2007  Билли Уайлдер

### Удаление строк с помощью логического отбора

In [25]:
kino.ranking = kino.ranking.str.replace(',','.')
kino.ranking = kino.ranking.astype(float)

In [26]:
# определяем строки, в которых ranking > 6
selection = kino.ranking > 6
# выводим информацию о количестве строк и количестве строк, которые будут удалены
(len(selection), selection.sum())

(150, 136)

In [28]:
# для отбора применим побитовое отрицание к выражению selection
not_selection = kino[~selection]
not_selection

,country,time,ranking,type,year,director
name,,,,,,
"Ой, мороз, мороз!",РСФСР,95,5.775,фильм,2005,Джиллиан Армстронг
Новогодний детектив,Россия,90,5.981,фильм,2010,Джиллиан Армстронг
"Откройте, Дед Мороз!",РСФСР,98,5.318,фильм,2007,Джиллиан Армстронг
Приключения Снеговика Фрости,США,25,5.677,мультфильм,1969,Майк Митчелл
Сверчок за очагом,Россия,107,5.860,фильм,2001,Майкл Саймон
Тушите свет,Россия,75,5.856,фильм,2008,Майкл Саймон
Убить карпа,Россия,100,6.000,фильм,2005,Майкл Саймон
32 декабря,Россия,104,5.992,фильм,2004,NaN
В город приехал Санта-Клаус!,США,48,5.254,мультфильм,1970,NaN
Год без Санты,США,51,5.418,мультфильм,1974,NaN
Дед Мороз,Великобритания,25,5.473,мультфильм,1991,NaN
Дед Мороз поневоле,Россия,77,5.990,фильм,2007,NaN
Идеальное Рождество Артура,США,60,4.900,мультфильм,2000,NaN
Иисус против Санты,США,5,5.952,мультфильм,1995,NaN

### Удаление строк с помощью среза

In [29]:
# отбираем лишь первые три строки
only_first_three = kino[:3]
only_first_three

                            country  time  ranking   type  year       director
name
Невеста                      Россия    74    7.660  фильм  2006  Билли Уайлдер
Кто приходит в зимний вечер  Россия    90    6.038  фильм  2006  Билли Уайлдер
Моя мама Снегурочка          Россия    90    6.828  фильм  2007  Билли Уайлдер

In [30]:
only_first_three = kino[:3].copy()
only_first_three

                            country  time  ranking   type  year       director
name
Невеста                      Россия    74    7.660  фильм  2006  Билли Уайлдер
Кто приходит в зимний вечер  Россия    90    6.038  фильм  2006  Билли Уайлдер
Моя мама Снегурочка          Россия    90    6.828  фильм  2007  Билли Уайлдер